.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
}

.main {
  grid-column: 3 / 3;
  grid-row: 3 / 7;
}

.footer {
  grid-column: 3 / 3;
  grid-row: 79 / 79;
}

.header {
  position: relative;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.msc {
  grid-column: 3 / 4;
  grid-row: 1 / 1;
  text-decoration: underline;
  color: teal;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
