.Dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.Dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Dropdown-content a:hover {
  background-color: #f1f1f1;
}

.Dropdown:hover .Dropdown-content {
  display: block;
}

.Dropdown:hover .Dropbtn {
  background-color: #3e8e41;
}

.Dropbtn {
  text-align: center;
}
